<div class="container-fluid">
  <div *ngIf="userMessage.status === 'success'" class="messageBox alert alert-success col-12 text-center">{{userMessage.text}}</div>
  <div *ngIf="userMessage.status === 'error'" class="messageBox alert alert-danger col-12 text-center">{{userMessage.text}}</div>
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-2 text-center">Profil</h1>
  </div>
  <hr>
  <br>
</div>
<div class="container">
  <h3>Profil adatok szerkesztése</h3>
  <form #profileForm="ngForm">

    <div class="form-group">
      <label>Név</label>
      <input type="text" name="username" class="form-control" [(ngModel)]="profileData.username">
    </div>

    <div class="form-group">
      <hr>
      <label>Email</label>
      <input type="email" name="email" class="form-control" [(ngModel)]="profileData.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        required #email="ngModel">
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
        <div [hidden]="!email.hasError('required')">Kötelező kitölteni.</div>
        <div [hidden]="!email.hasError('pattern')">Email formátum. Pl.:
          <small>
            <b>kisjozsi@abc.hu</b>
          </small>
        </div>
      </div>
    </div>

    <div class="form-group">
      <hr>
      <label>Telefonszám</label>
      <input type="text" name="phone" class="form-control" placeholder="+36..." [(ngModel)]="profileData.phone" pattern="[0-9]*"
        minlength="8" maxlength="8" #phone="ngModel">
      <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
        <div [hidden]="!phone.hasError('minlength')">8 jegyű telefonszám formátum. Pl.: 30234333</div>
        <div [hidden]="!phone.hasError('pattern')">A telefonszám csak számokat tartalmazhat. Pl.: 30234333</div>
      </div>
    </div>
    <hr>
    <div class="form-group">
      <label>Szállítási cím</label>
      <div class="form-group">
        <input type="number" maxlength="4" minlength="4" name="postcodeD" class="form-control" placeholder="Irányítószám" [(ngModel)]="profileData.delivery.postcode">
      </div>
      <div class="form-group">
        <input type="text" name="cityD" class="form-control" placeholder="Város" [(ngModel)]="profileData.delivery.city">
      </div>
      <div class="form-group">
        <input type="text" name="addressD" class="form-control" placeholder="Cím" [(ngModel)]="profileData.delivery.address">
      </div>
    </div>
    <hr>
    <div class="form-group">
      <label>Számlázási cím</label>
      <div class="form-group">
        <input type="number" maxlength="4" minlength="4" name="postcodeI" class="form-control" placeholder="Irányítószám" [(ngModel)]="profileData.invoice.postcode">
      </div>
      <div class="form-group">
        <input type="text" name="cityI" class="form-control" placeholder="Város" [(ngModel)]="profileData.invoice.city">
      </div>
      <input type="text" name="addressI" class="form-control" placeholder="Cím" [(ngModel)]="profileData.invoice.address">
    </div>
    <button class="btn btn-success" [disabled]="!profileForm.form.valid" (click)="updateProfile()">Módosítások mentése</button>
  </form>
</div>
<br>
<hr>
<br>
<div class="container">
  <h3>Jelszómódosítás</h3>
  <form #pwForm="ngForm">
    <div class=" form-group ">
      <input type="password" name="old" class="form-control" placeholder="Régi jelszó" [(ngModel)]="setPassword.oldPassword" required>
    </div>
    <hr>
    <div class="form-group ">
      <input type="password" name="new1" class="form-control" placeholder="Új jelszó" [(ngModel)]="setPassword.newPassword" required>
    </div>
    <div class="form-group">
      <input type="password" name="new2" class="form-control" placeholder="Új jelszó megerősítése" [(ngModel)]="setPassword.newPassword2"
        required>
    </div>
    <button class="btn btn-success" [disabled]="!pwForm.form.valid" (click)="updatePassword()">Új jelszó mentése</button>
  </form>
</div>
<br>
<hr>
<br>
<div class="container">
  <!-- (click)="getMyOrders()" -->
  <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Rendeléseim</button>
</div>
<div style="height: 50px "></div>
<!-- ****************** MODAL ************************* -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rendeléseim</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container">
          <h3 class="text-center">Folyamatban lévő</h3>
          <br>
          <table class="table">
            <tbody *ngFor="let order of activeOrders; let i = index">
              <tr class="tr-customer">
                <td>{{i+1}}</td>
                <td>
                  {{order.customer.username}}
                </td>
                <td>
                  {{order.customer.email}}
                </td>
                <td>
                  {{order.createdAt | date : 'yyyy.MM.dd HH:mm'}}
                </td>
                <td>{{order.status}}</td>
              </tr>
              <tr class="tr-head">
                <td></td>
                <td>Termék</td>
                <td>Mennyiség</td>
                <td>Összesen</td>
                <td></td>
              </tr>
              <tr *ngFor="let pr of order.products">
                <td></td>
                <td>
                  {{pr.product.productname}}
                </td>
                <td>
                  {{pr.quantity}}
                </td>
                <td>{{pr.product.price*pr.quantity}}</td>
                <td></td>
              </tr>
            </tbody>
          </table>

          <br>
          <h2 class="text-center">Lezárult</h2>
          <br>
          <table class="table">
            <tbody *ngFor="let order of doneOrders; let i = index">
              <tr class="tr-customer">
                <td>{{i+1}}</td>
                <td>
                  {{order.customer.username}}
                </td>
                <td>
                  {{order.customer.email}}
                </td>
                <td>
                  {{order.createdAt | date : 'yyyy.MM.dd HH:mm'}}
                </td>
                <td>{{order.status}}</td>
              </tr>
              <tr class="tr-head">
                <td></td>
                <td>Termék</td>
                <td>Mennyiség</td>
                <td>Összesen</td>
                <td></td>
              </tr>
              <tr *ngFor="let pr of order.products">
                <td></td>
                <td>
                  {{pr.product.productname}}
                </td>
                <td>
                  {{pr.quantity}}
                </td>
                <td>{{pr.product.price*pr.quantity}}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
