<div class="container-fluid">
    <div *ngIf="userMessage.status === 'success'" class="messageBox alert alert-success col-12 text-center">{{userMessage.text}}</div>
    <div *ngIf="userMessage.status === 'error'" class="messageBox alert alert-danger col-12 text-center">{{userMessage.text}}</div>
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-2 text-center">Profil</h1>
  </div>
  <hr>
  <br>
</div>
<div class="container">
  <h3>Profil adatok szerkesztése</h3>
  <form>
    <div class="form-group">
      <label>Név</label>
      <input type="text" name="username" class="form-control" [(ngModel)]="profileData.username">
    </div>
    <div class="form-group">
      <hr>
      <label>Email</label>
      <input type="email" name="email" class="form-control" [(ngModel)]="profileData.email">
    </div>
    <div class="form-group">
      <hr>
      <label>Telefonszám</label>
      <input type="text" name="phone" class="form-control" placeholder="+36..." [(ngModel)]="profileData.phone">
    </div>
    <hr>
    <div class="form-group">
      <label>Szállítási cím</label>
      <div class="form-group">
        <input type="number" maxlength="4" minlength="4" name="postcodeD" class="form-control" placeholder="Irányítószám" [(ngModel)]="profileData.delivery.postcode">
      </div>
      <div class="form-group">
        <input type="text" name="cityD" class="form-control" placeholder="Város" [(ngModel)]="profileData.delivery.city">
      </div>
      <div class="form-group">
        <input type="text" name="addressD" class="form-control" placeholder="Cím" [(ngModel)]="profileData.delivery.address">
      </div>
    </div>
    <hr>
    <div class="form-group">
      <label>Számlázási cím</label>
      <div class="form-group">
        <input type="number" maxlength="4" minlength="4" name="postcodeI" class="form-control" placeholder="Irányítószám" [(ngModel)]="profileData.invoice.postcode">
      </div>
      <div class="form-group">
        <input type="text" name="cityI" class="form-control" placeholder="Város" [(ngModel)]="profileData.invoice.city">
      </div>
      <input type="text" name="addressI" class="form-control" placeholder="Cím" [(ngModel)]="profileData.invoice.address">
    </div>
  </form>
  <button class="btn btn-success" (click)="updateProfile()">Módosítások mentése</button>
</div>
<br>
<hr>
<br>
<div class="container">
  <h3>Jelszómódosítás</h3>
  <form>
    <div class="form-group">
      <input type="password" name="old" class="form-control" placeholder="Régi jelszó" [(ngModel)]="setPassword.oldPassword" required>
    </div>
    <hr>
    <div class="form-group">
      <input type="password" name="new1" class="form-control" placeholder="Új jelszó" [(ngModel)]="setPassword.newPassword" required>
    </div>
    <div class="form-group">
      <input type="password" name="new2" class="form-control" placeholder="Új jelszó megerősítése" [(ngModel)]="setPassword.newPassword2" required>
    </div>
  </form>
  <button class="btn btn-success" (click)="updatePassword()">Új jelszó mentése</button>
</div>
<div style="height: 500px"></div>