<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-2 text-center">Profil</h1>
      </div>
      <hr>
      <br>
    <h3>Profil adatok szerkesztése</h3>
    <form>
      <div class="form-group">
        <label>Név</label>
        <input type="text" name="username" class="form-control" [(ngModel)]="profileData.username">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" class="form-control" [(ngModel)]="profileData.email">
      </div>
      <div class="form-group">
        <label>Telefonszám</label>
        <input type="text" name="phone" class="form-control" placeholder="+36..." [(ngModel)]="profileData.phone">
      </div>
      <div class="form-group">
        <label>Szállítási cím</label>
        <input type="number" maxlength="4" minlength="4" name="postcodeD" class="form-control" placeholder="Irányítószám" [(ngModel)]="profileData.delivery.postcode">
        <input type="text" name="cityD" class="form-control" placeholder="Város" [(ngModel)]="profileData.delivery.city">
        <input type="text" name="addressD" class="form-control" placeholder="Cím" [(ngModel)]="profileData.delivery.address">
      </div>
      <div class="form-group">
        <label>Számlázási cím</label>
        <input type="number" maxlength="4" minlength="4" name="postcodeI" class="form-control" placeholder="Irányítószám" [(ngModel)]="profileData.invoice.postcode">
        <input type="text" name="cityI" class="form-control" placeholder="Város" [(ngModel)]="profileData.invoice.city">
        <input type="text" name="addressI" class="form-control" placeholder="Cím" [(ngModel)]="profileData.invoice.address">
      </div>
    </form>
    <button class="btn btn-success" (click)="updateProfile()">Módosítások mentése</button>
    <div *ngIf="userMessage === 'success'" class="alert alert-success col-12 text-center">Módosítás sikeres</div>
    <div *ngIf="userMessage === 'error'" class="alert alert-danger col-12 text-center">Módosítás sikertelen</div>
</div>