<section>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-2 text-center">Felhasználókezelés</h1>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Új felhasználó hozzáadása</h1>
      <hr class="col-sm-5">
      <table class="table table-fluid table-hover table-borderless">
        <thead>
          <tr>
            <th>
              <label for="username">Felhasználónév</label>
            </th>
            <th>
              <label for="email">Email</label>
            </th>
            <th>
              <label for="pass">Jelszó</label>
            </th>
            <th>
              <label for="isadmin">Jogkör</label>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input class="form-control" type="text" name="username" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"
                [(ngModel)]="newUser.username" placeholder="Minimum 3 karakter">
            </td>
            <td>
              <input class="form-control" type="text" name="email" autocomplete="off" [(ngModel)]="newUser.email" placeholder="Kötelező">
            </td>
            <td>
              <input class="form-control" type="password" readonly onfocus="this.removeAttribute('readonly');" name="pass" minlength="8"
                [(ngModel)]="newUser.password" placeholder="Minimum 8 karakter">
            </td>
            <td>
              <select class="custom-select" name="isadmin" [(ngModel)]="newUser.isAdmin">
                <option value="true">Admin</option>
                <option value="false">Felhasználó</option>
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <button *ngIf="newUser.password.length > 7 && newUser.email.length > 4 && newUser.username.length > 2 " class="btn btn-success col-12"
                (click)="addUser()">Hozzáadás</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <span class="alert alert-success col-12" *ngIf="addSuccess === 'Sikeres hozzáadás' ">{{addSuccess}}</span>
        <span class="alert alert-danger col-12" *ngIf="addSuccess === 'Hozzáadás sikertelen' ">{{addSuccess}}</span>
      </div>
    </div>
  </div>
  <br>
  <h1 class="text-center">Felhasználóink</h1>
  <hr class="col-sm-3">
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-fluid table-borderless table-hover table-striped shadow-lg p-3 bg-white-rounded">
        <thead>
          <tr>
            <th>Felhasználónév</th>
            <th>Email</th>
            <th>Jogkör</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>
              <input class="form-control" type="text" name="username" [(ngModel)]="user.username">
            </td>
            <td>
              <input class="form-control" type="text" name="email" [(ngModel)]="user.email">
            </td>
            <td>
              <select class="custom-select" name="isadmin" [(ngModel)]="user.isAdmin">
                <option value="true">Admin</option>
                <option value="false">Felhasználó</option>
              </select>
            </td>
            <td>
              <div class="btn-group">
                <button class="btn btn-danger" (click)="removeUser(user)">Törlés</button>
                <button class="btn btn-warning" (click)="editUser(user)">Módosítások mentése</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 offset-4">
      <button class="btn btn-warning btn-block" (click)="createFakeUser()">Create new fake user</button>
    </div>
  </div>
</div>
