<div class="container-fluid last-ten-products">
  <table class="table table-fluid table-hover table-borderless">
    <thead>
      <tr>
        <th>Kép</th>
        <th>ID</th>
        <th>Termék Név</th>
        <th>Márka</th>
        <th>Ár</th>
        <th>Kategória</th>
        <th>Utoljára fríssítve</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of lastTenProducts">
        <td class="align-middle">
          <img *ngIf="data.imgurl" src="{{ data.imgurl }}" alt="{{ data.productname }}" width="150" height="150">
          <img *ngIf="!data.imgurl" src="http://localhost:8080/uploads/feltoltes_alatt.jpg" alt="feltoltes-alatt" width="150" height="150">
        </td>
        <td class="align-middle">
          {{data['_id']}}
        </td>
        <td class="align-middle">
          {{data.productname}}
        </td>
        <td class="align-middle">
          {{data.brand}}
        </td>
        <td class="align-middle">
          {{data.price}} Ft
        </td>
        <td class="align-middle">
          {{data.category}}
        </td>
        <td class="align-middle">
          {{data.updatedAt | date:'yyyy-MM-dd HH:mm':'+0200'}}
        </td>
                        
      </tr>
    </tbody>
  </table>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="list-home" role="tabpanel" aria-labelledby="list-home-list">kahljashfakfj</div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
          </div>
        </div>
      </div>
</div>
