<div class="container-fluid last-ten-products">
  <h1> Legfrissebb 10 termék</h1>
  <table class="table table-fluid table-hover table-borderless">
    <thead>
      <tr>
        <th>Kép</th>
        <th>ID</th>
        <th>Termék Név</th>
        <th>Márka</th>
        <th>Ár</th>
        <th>Kategória</th>
        <th>Utoljára fríssítve</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of lastTenProducts">
        <td class="align-middle">
          <img *ngIf="data.imgurl" src="{{ data.imgurl }}" alt="{{ data.productname }}" width="150" height="150">
          <img *ngIf="!data.imgurl" src="http://localhost:8080/uploads/feltoltes_alatt.jpg" alt="feltoltes-alatt" width="150" height="150">
        </td>
        <td class="align-middle">
          {{data['_id']}}
        </td>
        <td class="align-middle">
          {{data.productname}}
        </td>
        <td class="align-middle">
          {{data.brand}}
        </td>
        <td class="align-middle">
          {{data.price}} Ft
        </td>
        <td class="align-middle">
          {{data.category}}
        </td>
        <td class="align-middle">
          {{data.updatedAt | date:'yyyy-MM-dd HH:mm':'+0200'}}
        </td>
                        
      </tr>
    </tbody>
  </table>
</div>
<div class="container-fluid">
    <div class="row" *ngFor="let category of datas">
        <div class="col-4">
            <button class="btn btn-outline-dark btn-block" (click)="getByCat(category)">{{ category.title }}</button>
        </div>
        <div class="col-8">
        </div>
    </div>
</div>