<div class="container-fluid hommage" [ngClass]="{'hommage': isActive }">
  <span>Hommmage á GG</span>
  <button class="btn btn-outline-dark btn-sm hommage-btn" (click)="isActive = !isActive;">X</button>
  <div class="row">
    <div class="col-2 offset-1">
      <div class="btn-group-vertical">
        <button *ngFor="let category of datas" class="btn btn-outline-dark btn-block" (click)="getByCat(category)">{{ category.title }}</button>
      </div>
    </div>
    <div class="card-deck col-9">
      <div class="card" *ngFor="let item of dataHelper">
        <img *ngIf="item.imgurl" class="card-img-top" src="{{item.imgurl}}" alt="{{item.producturl}}" width="50" height="300">
        <img *ngIf="!item.imgurl" class="card-img-top" src="http://localhost:8080/uploads/feltoltes_alatt.jpg" alt="feltoltes-alatt"
          width="50" height="300">
        <div class="card-body">
          <h5 class="card-title">{{item.productname}}</h5>
          <p class="card-text">{{item.price}} Ft</p>
          <a href="http://localhost:4200/products/{{item.producturl}}" class="btn btn-outline-info">Részletek</a>
          <button class="btn btn-outline-success" (click)="toTheCart(item)">Kosárba</button>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted font-italic">Utoljára frissült ekkor: {{item.updatedAt | date:'yyyy. MM. dd. HH:mm'}}</small>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
