<div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h1>Products</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th (click)="sortingThis('productname')">Product Name</th>
              <th>Product URL</th>
              <th>Image URL</th>
              <th (click)="sortingThis('brand')">Brand</th>
              <th (click)="sortingThis('prize')">Prize</th>
              <th (click)="sortingThis('category')">Category</th>
              <th>Magic Makers</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                #
                <!-- <input type="text" class="form-control" name="id" readonly> -->
              </td>
              <td>
                <input type="text" class="form-control" name="productname" [(ngModel)]="adat.productname">
              </td>
              <td>
                <input type="text" class="form-control" name="producturl" [(ngModel)]="adat.producturl">
              </td>
              <td>
                <input type="text" class="form-control" name="imgurl" [(ngModel)]="adat.imgurl">
              </td>
              <td>
                <input type="text" class="form-control" name="brand" [(ngModel)]="adat.brand">
              </td>
              <td>
                <input type="text" class="form-control" name="prize" [(ngModel)]="adat.prize">
              </td>
              <td>
                <input type="text" class="form-control" name="category" [(ngModel)]="adat.category">
              </td>
              <td>
                <button class="btn btn-outline-light" type="button" (click)="creator()">Bevitel</button>
              </td>
            </tr>
            <tr *ngFor="let x of datas">
              <td>
                <input type="text" class="form-control" [(ngModel)]="x.id" readonly>
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="x.productname">
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="x.producturl" readonly>
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="x.imgurl" readonly>
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="x.brand">
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="x.prize">
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="x.category">
              </td>
              <td>
                <div class="btn-group btn-group-block">
                  <button class="btn btn-outline-light" type="button" (click)="navigate()">Részletek</button>
                  <button class="btn btn-outline-primary" type="button" (click)="updater()">Frissítés</button>
                  <button class="btn btn-outline-danger" type="button" (click)="rowDeleter(x.id)">Törlés</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  