.container-fluid {
  position: relative;
}

.jumbotron {
  background: url("../../assets/statbg.jpg") center center no-repeat;
  background-size: 100% auto;
  color: white;
  text-shadow: 0px 0px 15px black;
}
