<h2>Új megrendelés felvétele</h2>
<div class="container">
  <div class="row">
    <input id="customer" list="customers" class="form-control tableinput" name="myCustomers" type="text" placeholder="Ügyfél kiválasztása"
      [(ngModel)]="newOrder.customer">
    <datalist id="customers">
      <option *ngFor="let customer of userData" value="{{customer['_id']}}">{{customer.username}} || {{customer.email}}</option>
    </datalist>
    <div *ngFor="let pr of newOrder.products; let i = index">
      <input list="products" class="form-control tableinput" name="myProducts" type="text" placeholder="Termék kiválasztása" [(ngModel)]="newOrder.products[i].product">
      <datalist id="products">
        <option *ngFor="let product of products" value="{{product['_id']}}">{{product.productname}}</option>
      </datalist>
      <input class="form-control" type="number" name="amount" id="amount" min="0" placeholder="Mennyiség" [(ngModel)]="newOrder.products[i].quantity">
    </div>
    <button class="btn btn-secondary" (click)="addRow()">Új termék</button>
    <button *ngIf="newOrder.products[0].product!=='' && newOrder.customer !==''" class="btn btn-primary" (click)="createOrder()">Rögzítés</button>
  </div>
</div>
<br>
<br>
<hr>
<br>
<br>
<table class="table">
  <tbody *ngFor="let order of orders; let i = index">
    <tr class="tr-customer">
      <td>{{i+1}}</td>
      <td>
        {{order.customer.username}}
      </td>
      <td>
        {{order.customer.email}}
      </td>
      <td>
        {{order.createdAt | date : 'yyyy.MM.dd HH:mm'}}
      </td>
      <td>{{order.status}}</td>
      <td>
        <button class="btn btn-warning" data-toggle="modal" data-target="#editOrderModal" (click)="loadModalData(order)">Módosít</button>
        <button class="btn btn-danger" (click)="removeOrder(order)">X</button>
      </td>

    </tr>
    <tr class="tr-head">
      <td></td>
      <td>Termék</td>
      <td>Mennyiség</td>
      <td>Összesen</td>
      <td></td>
      <td></td>
    </tr>
    <tr *ngFor="let pr of order.products">
      <td></td>
      <td>
        {{pr.product.productname}}
      </td>
      <td>
        {{pr.quantity}}
      </td>
      <td>{{pr.product.price*pr.quantity}}</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<!-- modal -->

<!-- Modal -->
<div class="modal fade" id="editOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div>
            <select class="custom-select" [(ngModel)]="selectedOrder.customer._id" name="customer">
              <option *ngFor="let customer of userData" value="{{customer['_id']}}">{{customer.username}} || {{customer.email}}</option>
            </select>
            <select class="custom-select" [(ngModel)]="selectedOrder.status" name="status">
              <option value="active">Folyamatban</option>
              <option value="done">Teljesítve</option>
            </select>

          </div>
        </div>
        <div class="row" *ngFor="let p of selectedOrder.products; let i = index">
          <select class="custom-select" [(ngModel)]="selectedOrder.products[i].product._id" name="product">
            <option *ngFor="let product of products" value="{{product['_id']}}">{{product.productname}}</option>
          </select>
          <input class="form-control" type="number" name="amount" min="0" placeholder="Mennyiség" [(ngModel)]="selectedOrder.products[i].quantity">
        </div>
        <!-- <button class="btn btn-secondary" (click)="addModalRow()">Új termék</button> -->
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
        <button type="button" class="btn btn-primary" (click)="editOrder()">Mentés</button>
      </div>
    </div>
  </div>
</div>