.tr-customer {
  background: linear-gradient( #d6d6d6 , rgb(243, 243, 243),white);
}

.tr-head {
  font-size: 60%;
}

.jumbotron {
  background: url("../../assets/order.jpg") center center no-repeat;
  background-size: 100% 100%;
  color: white;
  text-shadow: 0px 0px 10px black;
}

@media (max-width: 500px) {
  .jumbotron h1 {
    font-size: 45px;
  }
}