<div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">    
                <h1>Login</h1>
<label for="email">Email</label>
<input  class="form-control"type="email" id="email" [(ngModel)]="user.username">
<label for="password">Password</label>
<input class="form-control" type="password" id="password" [(ngModel)]="user.password">
<input type="button" class="btn btn-success" value="Login" (click)="login()">
<input type="button" class="btn btn-danger" value="Logout" (click)="logout()">      
<input type="button" class="btn btn-danger" value="Profil" (click)="profile()">

<br>

<a routerLink="/register">Még nem regisztrált felhasználó?</a>
</div>
</div>
</div>