<div class="container">
  <div class="col-10">
    <h1>
      BACK-END és FRONT-END
    </h1>
    <h2>Célunk</h2>
    <ul>
      <li>
        <a href="#exampleModal" data-toggle="modal">A kapcsolat megteremtése, és ...</a>
      </li>
      <li>
        <a href="#exampleModal2" data-toggle="modal">... a minőség biztosítása</a>
      </li>
    </ul>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="../../assets/img/bridge1CroppedThin.jpg" alt="bridge1CroppedThin" data-dismiss="modal">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2Label" aria-hidden="true">
  <div class="modal-dialog text-center" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="../../assets/img/tacomaGif.gif" width="60%"  alt="tacomaGif" data-dismiss="modal">
      </div>
    </div>
  </div>
</div>
