h1{
    padding-top: 40px;
    padding-bottom: 20px;
}

.modal-dialog{
    max-width: 100%;
}

a{
    font-size: 24px;
}

.carousel img{
    max-height: 90vh;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
    background: rgba(0, 0, 0, 0.1);
}
.carousel-control-next, .carousel-control-prev{
    transition-duration: .5s;
}