<div class="container-fluid" *ngIf="!error">
  <br>
  <div class="section">
    <div class="row">
      <div class="col-4 offset-4 text-center">
        <h1>{{productData.productname}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-2">
        <table class="table table-borderless">
          <thead>
            <tr class="text-center">
              <th></th>
              <th>Márka</th>
              <th>Ár</th>
              <th>Kategória</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td rowspan="2">
                <img *ngIf="productData.imgurl" src="{{productData.imgurl}}" alt="{{productData.imgurl}}" height="300" width="300"> 
                <img *ngIf="!productData.imgurl" src="http://localhost:8080/uploads/feltoltes_alatt.jpg" alt="feltoltes-alatt" height="300" width="300">
              </td>
              <td>{{productData.brand}}</td>
              <td>{{productData.price}} Ft</td>
              <td>{{chosenOne}}</td>
            </tr>
            <tr class="text-center">
              <td>Hozzáadva:
                <br>{{productData.createdAt | date:'yyyy. MM. dd. HH:mm'}}</td>
              <td></td>
              <td>Utoljára frissült:
                <br>{{productData.updatedAt | date:'yyyy. MM. dd. HH:mm'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="productData.comments !== []">
    <div class="col-4 offset-2">
        <div class="card text-center" *ngFor="let comment of productData.comments">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">{{comment.body}}</p>
            </div>
            <div class="card-footer text-muted">
              {{comment.date}}
            </div>
          </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-2 offset-5">
      <button class="btn btn-success btn-lg btn-block" (click)="toTheCart(productData)">Kosárba</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Értékelések</h2>
        <table *ngIf="canComment" class="table table-borderless">
            <thead class="text-center">
              <tr>
                <th>Értékelés szövege</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center">
                <td><input type="string" class="form-control" name="new-comment" [(ngModel)]="newComment.post" required></td>
                <td><button  class="btn btn-block btn-outline-primary" type="button" (click)="createComment()">Létrehozás</button></td>
              </tr>
            </tbody>
          </table>
        <table class="table table-borderless">
            <thead class="text-center">
              <tr>
                <th>Értékelés szövege</th>
                <th>Értékelés id</th>
                <th>User id</th>
                <th>Módosítás</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-center" *ngFor="let com of comments; let i = index">
                <td>
                    <form name="myForm">
                        <input type="string" class="form-control" name="post{{i}}" [(ngModel)]="com.post" required [readonly]="com.userid !== userId">
                      </form>
                </td>
                <td>{{com._id}}</td>
                <td>{{com.userid}}</td>
                <td><div class="btn-group"> <button *ngIf="com.userid === userId" class="btn btn-outline-primary" type="button" (click)="modifyComment(com)">Frissítés</button>
                  <button *ngIf="com.userid === userId" class="btn btn-outline-danger" type="button" (click)="deleteComment(com)">Törlés</button></div></td>
              </tr>
            </tbody>
          </table>
  </div>
   
</div>
</div>

<h1 *ngIf="error"> 404 ERROR - NOT FOUND</h1>