.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343A40;
    color: white;
    text-align: center;
}
.footer.icons a {
    color: #70726F;
    font-size: 20px;
    padding: 30px;
    transition: all .5s ease;
  }
  .footer.icons a:hover {
    color: white;
  }