<div class="container"></div>
<div class="container-fluid">
        <div class="footer text-align center row">
                <div class="pewter col-1 col-md-5">&copy; PUTörschmidt</div>
                <div class="icons offset-2 offset-md-0 col-8 col-md-5">
                        <a href="https://facebook.com/">
                                <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://twitter.com/">
                                <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.google.com/">
                                <i class="fab fa-google"></i>
                        </a>
                </div>
                <div class="cY col-1 col-md-2">{{cY}}</div>
        </div>
</div>