.jumbotron {
  background: url("../../assets/profile.jpg") center center no-repeat;
  background-size: 100% auto;
  color: white;
  text-shadow: 0px 0px 10px black;
}

.mr-auto {
  padding-left: 5%;
}

.ml-auto {
  padding-right: 5%;
}

.btn-group {
  padding-top: 50px;
}

form>.row {
  padding: 15px;
}

form>.row:nth-of-type(even) {
  background: rgb(230, 230, 230);
}

.btn {
  margin: 5px;
}
