<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-2 text-center">Kosár tartalma</h1>
  </div>
  <hr>
  <br>
</div>
<div class="container">
  <form #cartForm="ngForm">
    <div class="row" *ngFor="let p of myCart.products; let i = index">
      <p>{{i+1}}.</p>
      <span class="col-3">Termék: {{p.productname}}</span>
      <span class="col-2">Egységár: {{p.price | currency:'HUF':'local' }}</span>
      <div class="input-group col-2">
        <input class="form-control" min="0" [disabled]="p.productname === 'Üres a kosár'" pattern="^[1-9]" type="number" name="quantity" [(ngModel)]="p.quantity">
        <div class="input-group-append">
          <span class="input-group-text"> db</span>
        </div>
      </div>
      <span class="col-2">Összár: {{p.price*p.quantity | currency:'HUF':'local' }}</span>
      <button class="btn btn-danger" [hidden]="p.productname ==='Üres a kosár'" (click)="deleteRow(i)">X</button>
    </div>
    <button type="button" [disabled]="cartForm.invalid" class="btn btn-primary" data-toggle="modal" data-target="#orderModal">Rendelés leadás</button>
  </form>

  <!-- ORDER CONFIRMATION MODAL -->
  <div class="modal fade" tabindex="-1" role="dialog" id="orderModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Rendelés összesítése</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngFor="let j of myCart.products; let i = index">
            <p>{{i+1}}.</p>
            <span>Termék: {{j.productname}}</span>
            <span>Egységár: {{j.price | currency:'HUF':'local' }}</span>
            <p>Összár: {{j.price*j.quantity | currency:'HUF':'local' }}</p>
            <p>Felhaszn: {{j.customer}}</p>
          </div>

          <form #orderForm="ngForm">
            <label>Telefonszám</label>
            <input type="text" name="phone" class="form-control" placeholder="pl.: 301234567" [(ngModel)]="userData.phone" pattern="[0-9]*"
              minlength="8" maxlength="9" #phone="ngModel" required>
            <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
              <div [hidden]="!phone.hasError('required')">Kötelező kitölteni.</div>
              <div [hidden]="!phone.hasError('minlength')">Legalább 8 számjegy</div>
              <div [hidden]="!phone.hasError('maxlength')">Legalább 9 számjegy</div>
            </div>

            <div class="form-group">
              <label>Számlázási Adatok</label>
              <div class="form-group">
                <input type="number" #i1="ngModel" required min="1000" max="9999" name="postcodeI" class="form-control" pattern="[1-9][0-9][0-9][0-9]"
                  placeholder="Irányítószám" [(ngModel)]="userData.invoice.postcode">
                <div [hidden]="i1.valid || i1.pristine" class="alert alert-danger">
                  <div [hidden]="!i1.hasError('required')">Kötelező kitölteni.</div>
                  <div [hidden]="!i1.hasError('pattern')">Nem érvényes irányítószám.</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" #i2="ngModel" required name="cityI" class="form-control" placeholder="Város" [(ngModel)]="userData.invoice.city">
                <div [hidden]="i2.valid || i2.pristine" class="alert alert-danger">
                  <div [hidden]="!i2.hasError('required')">Kötelező kitölteni.</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" required name="addressI" #i3="ngModel" class="form-control" placeholder="Cím" [(ngModel)]="userData.invoice.address">
                <div [hidden]="i3.valid || i3.pristine" class="alert alert-danger">
                  <div [hidden]="!i3.hasError('required')">Kötelező kitölteni.</div>
                </div>
              </div>
              <button class="btn btn-secondary" (click)="copyAddress()">Szállítási adatok megegyeznek</button>

            </div>
            <div class="form-group">
              <label>Szállítási cím</label>
              <div class="form-group">
                <input type="number" #d1="ngModel" maxlength="4" required minlength="4" name="postcodeD" pattern="[1-9][0-9][0-9][0-9]" class="form-control"
                  placeholder="Irányítószám" [(ngModel)]="userData.delivery.postcode">
                <div [hidden]="d1.valid || d1.pristine" class="alert alert-danger">
                  <div [hidden]="!d1.hasError('required')">Kötelező kitölteni.</div>
                  <div [hidden]="!d1.hasError('pattern')">Nem érvényes irányítószám.</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="cityD" #d2="ngModel" required class="form-control" placeholder="Város" [(ngModel)]="userData.delivery.city">
                <div [hidden]="d2.valid || d2.pristine" class="alert alert-danger">
                  <div [hidden]="!d2.hasError('required')">Kötelező kitölteni.</div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" #d3="ngModel" name="addressD" required class="form-control" placeholder="Cím" [(ngModel)]="userData.delivery.address">
                <div [hidden]="d3.valid || d3.pristine" class="alert alert-danger">
                  <div [hidden]="!d3.hasError('required')">Kötelező kitölteni.</div>
                </div>
              </div>

            </div>
          </form>
          <div class="modal-footer">
            <button [disabled]="orderForm.invalid" class="btn btn-success" (click)="createOrder()">Rendelés leadás</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Mégse</button>
          </div>
        </div>
      </div>
    </div>
  </div>