<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid">
      <h1 class="display-2 text-center">Regisztráció</h1>
    </div>
    <hr>
    <br>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <label for="name">Név</label>
      <input class="form-control" type="text" id="name" [(ngModel)]="user.username" required #name="ngModel">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Kötelező kitölteni.
        </div>
      </div>

      <label for="email">Email</label>
      <input class="form-control" type="email" id="email" [(ngModel)]="user.email" required #email="ngModel">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        <div *ngIf="email.errors.required">
          Kötelező kitölteni.
        </div>
      </div>

      <label for="password">Jelszó</label>
      <div class="form-group has-danger">
        <div class="input-group">

          <input type="password" name="password" class="form-control" id="passwordReg" minlength="8" required [(ngModel)]="user.password"
            #password="ngModel">
        </div>
      </div>

      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        <div *ngIf="password.errors.required">
            Kötelező kitölteni.
        </div>
        <div *ngIf="password.errors.minlength">
          Minimum 8 karakter
        </div>
      </div>

      <label for="password2">Jelszó megerősítése</label>
      <div class="form-group">
        <div class="input-group">
          <input type="password" name="passwordConfirmation" class="form-control" id="passwordConfirm" required [(ngModel)]="passwordConf">
        </div>
      </div>


      <input type="button" class="btn btn-success" value="Regisztráció" (click)="validation()">
    </div>
  </div>
</div>



<!--
    <label for="password">Password</label>
<input class="form-control" type="password" id="password" minlength="8" required [(ngModel)]="user.password" #password="ngModel">

<div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
    <div *ngIf="password.errors.required">
        Password is required.
      </div>
    <div *ngIf="password.errors.minlength">
        Password must be at least 8 characters long.
    </div>
</div>

<label for="password">Confirm Password</label>

-->
